body {
	width: 80%;
	margin: 0 auto;
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, black , white, red); /* Standard syntax */
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
    animation: mymove 10s infinite;

}
@keyframes mymove {
    0%   {top: 0px; left: 0px; color: red;}
    25%  {top: 0px; left: 100px; color: blue;}
    100%  {top: 0px; left: 100px; color: hotpink}
}
h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}
